# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.spec
!backend/lyang-backend.spec

# Database & Binaries
*.db
*.db.bak*
*.sqlite3
*.exe
*.msi
*.lib
*.rlib
*.pdb
*.rmeta
*.glb
*.bin
easypos.db*
backups/
recycle/
instance/
tts_cache/
uploads/

# Node & Frontend
node_modules/
dist/
dist-ssr/
build/
.vercel/
extracted_build/
*.backup*


# Tauri, Rust & Native
target/
**/target/
frontend/src-tauri/bin/
android-native/

# IDE & System
.idea/
.vscode/
*.log
.DS_Store
.brain/
REMOVED LATER/
